[Unit]
Description=mpris-proxy
Requires=lipstick.service
After=lipstick.service

[Service]
Type=simple
ExecStart=/usr/bin/mpris-proxy

[Install]
WantedBy=post-user-session.target